<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adlr.ltmit" >

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="ltm.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="11" />

        <activity
            android:name=".activities.OrganizationActivity"
            android:label="@string/title_activity_organization"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".activities.CreateNewCategoryActivity"
            android:label="@string/title_activity_create_new_category" >
        </activity>
        <activity
            android:name=".activities.CreateNewDatabaseActivity"
            android:label="@string/title_activity_create_new_database" >
        </activity>
        <activity
            android:name=".activities.DatabaseListActivity"
            android:label="@string/title_activity_database_list" >
        </activity>
        <activity
            android:name=".activities.DatabasesActivity"
            android:label="@string/title_activity_databases" >
        </activity>
        <activity
            android:name=".activities.AddWordActivity"
            android:label="@string/title_activity_add_word" >
        </activity>

        <activity
            android:name=".activities.RepeatingActivity"
            android:label="@string/title_activity_add_word" >
        </activity>
    </application>

</manifest>
